body{
  background-image: url(./img/fondoGreen.jpg)
}

header {
  margin-top: 3%;
  margin-left: 2%;
}

.titulo {
  padding: 10px;
  width: 50vw;
  margin: auto;
  color:white;
  font-weight: bold;
  font-size: 35px;
}

.btn {
  border: 0;
  color: rgb(36, 70, 45);
  font-weight: bold;
  background-color: rgb(241, 180, 105);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}
.btn:hover {
  background-color: rgb(253, 210, 158);
}

.btnWord {
  border: 0;
  color: rgb(36, 70, 45);
  font-weight: bold;
  background-color: rgb(241, 180, 105);
  padding: 10px;
  margin-top: 18px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}
.btnWord:hover {
  background-color: rgb(253, 210, 158);
}

.btnSave {
  border: 0;
  color: rgb(36, 70, 45);
  font-weight: bold;
  background-color: rgb(241, 180, 105);
  padding: 10px;
  margin-top: 18px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}
.btnSave:hover {
  background-color: rgb(253, 210, 158);
}

.btnCancel{
  border: 0;
  color: rgb(36, 70, 45);
  font-weight: bold;
  background-color: rgb(241, 180, 105);
  padding: 10px;
  margin-top: 18px;
  margin-bottom: 10px;
  border-radius: 0.5em;
} 
.btnCancel:hover {
  background-color: rgb(253, 210, 158);
}

.btnPlay{
  border: 0;
  color: rgb(36, 70, 45);
  font-weight: bold;
  background-color: rgb(241, 180, 105);
  padding: 10px;
  margin-top: 18px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}
.btnPlay:hover {
  background-color: rgb(253, 210, 158);
}

.btnLeft{
  border: 0;
  color: rgb(36, 70, 45);
  font-weight: bold;
  background-color: rgb(241, 180, 105);
  padding: 10px;
  margin-top: 18px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}
.btnLeft:hover {
  background-color: rgb(253, 210, 158);
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgb(241, 180, 105);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.cajaOne {
  display: flex;
  flex-direction: column;
  padding: 1%;
  align-items: center;
  margin: 7%;
}

.cajaTwo {
  display: flex;
  flex-direction: column;
  padding: 1%;
  align-items: center;
  margin: 3%;
}

.cajaThree {
  display: flex;
  flex-direction: column;
  padding: 1%;
  align-items: center;
}

.invisible {
  display:none !important;
}

footer {
  position: fixed;
  left: 40%;
  right: 40%;
  bottom: 0;
  align-items: center;
  font-size: 20px;
  color: white;
  font-family: 'Inter', sans-serif;
  justify-content: center;
}

.redes {
  width: 15px;
}

input {
  background-color: transparent;
  border: none;
  font-family: 'Inter', sans-serif;
  color: #FFFF;
  font-size: x-large;
  text-transform: uppercase;
}

input::placeholder {
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: x-large;
  text-transform: none;
}